
.f-w-100{
    font-weight: 100;
}

.f-w-300{
    font-weight: 200;
}

.f-w-300{
    font-weight: 300;
}

.f-w-400{
    font-weight: 400;
}

.f-w-500{
    font-weight: 500;
}

.f-w-600{
    font-weight: 600;
}

.f-w-700{
    font-weight: 700;
}

.f-w-800{
    font-weight: 800;
}

.f-w-900{
    font-weight: 900;
}

.f-w-600 .item-title{
    font-weight: 600 !important;
}