//FadeOut Red

@-webkit-keyframes fade-in-red {
  from { background-color: rgba(255,0,0,0); }
  to { background-color: rgba(255,0,0,0.2); }
}
@-moz-keyframes fade-in-red {
  from { background-color: rgba(255,0,0,0); }
  to { background-color: rgba(255,0,0,0.2); }
}
@keyframes fade-in-red {
  from { background-color: rgba(255,0,0,0); }
  to { background-color: rgba(255,0,0,0.2); }
}
@-webkit-keyframes fade-out-red {
  from { background-color: rgba(255,0,0,0.2); }
  to { background-color: rgba(255,0,0,0); }
}
@-moz-keyframes fade-out-red {
  from { background-color: rgba(255,0,0,0.2); }
  to { background-color: rgba(255,0,0,0); }
}
@keyframes fade-out-red {
  from { background-color: rgba(255,0,0,0.2); }
  to { background-color: rgba(255,0,0,0); }
}

//FadeOut Green

@-webkit-keyframes fade-in-green {
  from { background-color: rgba(0,255,0,0); }
  to { background-color: rgba(0,255,0,0.2); }
}
@-moz-keyframes fade-in-green {
  from { background-color: rgba(0,255,0,0); }
  to { background-color: rgba(0,255,0,0.2); }
}
@keyframes fade-in-green {
  from { background-color: rgba(0,255,0,0); }
  to { background-color: rgba(0,255,0,0.2); }
}
@-webkit-keyframes fade-out-green {
  from { background-color: rgba(0,255,0,0.2); }
  to { background-color: rgba(0,255,0,0); }
}
@-moz-keyframes fade-out-green {
  from { background-color: rgba(0,255,0,0.2); }
  to { background-color: rgba(0,255,0,0); }
}
@keyframes fade-out-green {
  from { background-color: rgba(0,255,0,0.2); }
  to { background-color: rgba(0,255,0,0); }
}

//FadeOut Black

@-webkit-keyframes fade-in-black {
  from { background-color: rgba(0,0,0,0); }
  to { background-color: rgba(0,0,0,0.2); }
}
@-moz-keyframes fade-in-black {
  from { background-color: rgba(0,0,0,0); }
  to { background-color: rgba(0,0,0,0.2); }
}
@keyframes fade-in-black {
  from { background-color: rgba(0,0,0,0); }
  to { background-color: rgba(0,0,0,0.2); }
}
@-webkit-keyframes fade-out-black {
  from { background-color: rgba(0,0,0,0.2); }
  to { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes fade-out-black {
  from { background-color: rgba(0,0,0,0.2); }
  to { background-color: rgba(0,0,0,0); }
}
@keyframes fade-out-black {
  from { background-color: rgba(0,0,0,0.2); }
  to { background-color: rgba(0,0,0,0); }
}

/// Blink

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: .25;
  }
  25%{
    opacity: 1;
  }
  50% {
    opacity: .25;
  }
  75%{
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: .25;
  }
}

/// Scale In

@keyframes scaleInBlink {
  from {
    transform: scale(.25, .25);
    opacity: .15;
  }
  to {
    transform: scale(3, 3);
    opacity: 0;
  }
}
 
/// 
/// 
/// 
/// 

@-webkit-keyframes fadein {
  from { opacity: 0.3; }
  to { opacity: 0.7; }
}

@-moz-keyframes fadein {
  from { opacity: 0.3; }
  to { opacity: 0.7; }
}

@keyframes fadein {
  from { opacity: 0.3; }
  to { opacity: 0.7; }
}


@-webkit-keyframes fadeinel {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadeinel {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeinel {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeoutel {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-moz-keyframes fadeoutel {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeoutel {
  from { opacity: 1; }
  to { opacity: 0; }
}


.md {
  --f7-message-bubble-border-radius: 10px !important;
  --f7-message-received-bg-color: #ffffff !important;
  --f7-messages-content-bg-color: #ebedf7 !important;
}

.dark.md {

  --f7-message-received-bg-color: #2A2A2A !important;
  --f7-message-received-text-color: #d3d3d3;
  --f7-messages-content-bg-color: #2e2e2e !important;
  --f7-message-sent-bg-color: #000000 !important;
  --f7-message-sent-text-color: #cccccc !important;

  .toolbar.messagebar {
    border-color: #424242;
    background-color: #000000;
    box-shadow: 2px 2px 24px rgb(0 0 0 / 0%);
  }

  .messages {
    background-color: rgb(22 22 22 / 85%);
    background-image: url(/assets/img/im-bg-720.png);
    background-blend-mode: color;
  }

}

.messages {
  padding: 0 10px 0 5px;
  background-color: rgb(235 237 247 / 93%);
  background-image: url(/assets/img/im-bg-720.png);
  background-size: contain;
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

.message-time-ago {
  font-size: 80%;
  opacity: 0.7;
  margin-top: 5px;
}

.im-attachment-title {
  font-size: 13px;
}

.im-attachment-title {
  font-size: 14px;
}

.im-attachment-description-details-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px -5px -5px -5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 12px;
  padding: 3px 7px;
}

.im-attachment-description-details-text {
  font-size: 12px;
}

.im-attachment-description-wrapper {
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 5px;
  text-align: left !important;
  margin: 5px auto;
}

div.messages-title.message-appeared div {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  padding: 9px;
  border: none;
  border-radius: 6px;
  background-color: var(--f7-message-received-bg-color);
  color: var(--f7-message-received-text-color);
  width: fit-content;
  margin: auto;
  font-weight: bold;
}

.message-time-ago i {
  opacity: 1;
  margin-top: -4px;
  vertical-align: top;
  margin-left: 6px;
  color: #03a9f4;
  text-align: right;
  font-size: 20px;
}

.actions-modal.modal-in {
  border-radius: 24px;
  margin: 10px auto;
  width: calc(100vw - 20px);
  left: 10px;
  right: 10px;
}

.toolbar.messagebar {
  border: 2px solid #f3f3f3;
  border-radius: 28px;
  margin: 3px auto;
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
  box-shadow: 2px 2px 24px rgb(0 0 0 / 30%);
}

.toolbar.messagebar {
  border: 2px solid #f3f3f300;
  border-radius: 28px;
  margin: 3px auto 16px 3px;
  width: calc(100vw - (var(--f7-fab-size) + (var(--f7-fab-margin) * 2)));
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
}

.messagebar~* {
  --f7-page-toolbar-bottom-offset: calc(var(--f7-messagebar-height) + 32px);
}

.messagebar textarea {
  border: none;
}

div.m-b-0.fab {
  margin-bottom: 0 !important;
}

div.m-b-0.fab>a {
  background-color: var(--f7-theme-color) !important;
}

.messagebar:before {
  height: 0;
}

.message-bubble {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: var(--f7-message-received-text-color);
  background: var(--f7-message-received-bg-color);
}

.im-im-call-sheet-modal {

  width: 100vw;
  height: 100vh;

  background-image: url(https://c4.wallpaperflare.com/wallpaper/65/236/842/space-vertical-portrait-display-iss-wallpaper-preview.jpg);
  background-image: url(https://www.fonewalls.com/wp-content/uploads/2019/12/Full-Moon-Night-Background-Wallpaper-720x1600-1.jpg);
  background-image: url(https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg);
  background-size: cover;
  background-position: center center;

  .sheet-modal-inner{
    margin: 0 16px;

    .backdrop {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0px;
      position: fixed;
      background-color: rgb(0, 0, 0, 0.33);

      &.blurry {
        backdrop-filter: blur(24px);
      }

    }

    .im-call-controls-wrapper {

      width: calc(100vw - 64px);
      bottom: 32px;
      right: 32px;
      left: 32px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-end;
      justify-content: space-between;
      align-items: flex-end;
      position: fixed;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 32px;
      z-index: 2;

      .im-call-button {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        .fab {
          position: relative;
          right: unset;
          left: unset;
          top: unset;
          bottom: unset;
        }

        span {
          margin: 16px 0 0 0;
        }

      }

    }

    .videos{
        width: 100vw;
        height: 100vh;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0px;
        position: fixed;
        background-size: cover;
        background-position: center;

        &.visible{
          
          -webkit-animation: fadeinel 1.5s ease-in alternate;
          -moz-animation: fadeinel 1.5s ease-in alternate;
          animation: fadeinel 1.5s ease-in alternate;
          opacity: 1;
  
          }

        &.hidden{
          
            -webkit-animation: fadeoutel 1.5s ease-out alternate;
            -moz-animation: fadeoutel 1.5s ease-out alternate;
            animation: fadeoutel 1.5s ease-out alternate;
            opacity: 0;
    
        }

        .player-container-duo {
          border: 2px solid transparent;
          height: inherit;
      
          .remote{

            position: absolute;
          
            &.not-connected{
              width: 1px;
              height: 1px;
              background-color: rgb(255,0,0, 0.25);
            }

            &.connected{
              width: 100vw;
              height: 100vh;
              background-color: rgba(255,0,0,0.75);
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              float: right;
              border: 0px solid rgba(0,0,0,0.75);
              box-shadow: 3px 3px 9px rgba(0,0,0,0.3);

              .im-vc-video-player-wrapper  {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                video {
                  width: 100%;
                  height: 100%;
                }

              }

            }

          }

          .local{
            
            position: absolute;
          
            &.not-connected{
              width: 100vw;
              height: 100vh;
              background-color: rgba(0,0,0,0.75);
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              float: right;
              border: 0px solid rgba(0,0,0,0.75);
              box-shadow: 3px 3px 9px rgba(0,0,0,0.3);
              
              .im-vc-video-player-wrapper  {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                video {
                  width: 100%;
                  height: 100%;
                }

              }

            }

            &.not-connected.call-disconnected {
              background-color: transparent;
            }

            &.connected{
              width: 100%;
              max-width: calc(100vw * 0.25);
              height: calc(calc(16 / 9) * 100vw * 0.25);
              background-color: rgba(0,0,0,0);
              top: auto;
              left: auto;
              bottom: 140px;
              right: 24px;
              float: right;
              border: 0px solid rgba(0,0,0,0.75);
              box-shadow: 3px 3px 9px rgba(0,0,0,0.3);

              .im-vc-video-player-wrapper  {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                video {
                  width: 100%;
                  height: 100%;
                }

              }

            }

          }

        }

        .info{
          margin-left: calc(16px + 28vw + 16px);
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-content: flex-start;
          align-items: flex-start;
          flex-wrap: nowrap;

          .display-name{
            font-size: 24px;
          }

          .phone-number{
            font-size: 14px;
          }

          .call-duration {

            font-size: 14px;

          }

        }

    }

      .blink-container {
        width: 100vw;
        height: 100vh;
        position: absolute;
        margin: 0 -16px;

        .circle-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          position: absolute;
          width: 100vw;
          height: 100vw;
          top: 0;
      
          .circle {
            border: 3px solid rgb(255, 255, 255);
            background-color: rgb(255, 255, 255);
            border-radius: 50%;            
            width: 33vw;
            height: 33vw;
            position: absolute;
            opacity: 0;
            animation: scaleInBlink 6s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
            top: 33vw;
            padding: 0;
            margin: 0;

          &.connecting{
              border: 3px solid rgb(255, 255, 255);
              background-color: rgb(255, 255, 255);
            }

          &.connected{
              border: 3px solid rgb(0, 255, 0);
              background-color: rgb(0, 255, 0);
            }

          &.on_hold{
              border: 3px solid rgb(255, 175, 0);
              background-color: rgb(255, 175, 0);
            }

          &.reconnecting{
              border: 3px solid rgb(255, 0, 0);
              background-color: rgb(255, 0, 0);
            }

          }

          img{
            border: 3px solid rgba(255,255,255,1);
            border-radius: 50%;
            background-color: white;
            position: absolute;
            top: 33vw;
            width: 33vw;
            height: 33vw;
            z-index: 100;
            opacity: 1;
            padding: 0;
            margin: 0;
            object-fit: cover;
            -o-object-fit: cover;
            object-position: center;
            -o-object-position: center;
          }

        }

        .call-remote-user {

          margin-top: calc(33vw * 2);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          align-content: center;
          flex-wrap: nowrap;

          .block-title:first-of-type {
            margin-top: 20px;
            font-weight: 600;
            font-size: 28px;
          }

          .block-title {
            margin: 5px auto;
            font-weight: 400;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

          }

          .block-title:last-of-type {
            font-size: 20px;
            font-weight: 600;
          }

        }

      }

    .page-content {
      position: relative;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: space-between;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow: hidden;

      .call-current-state {
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        border-radius: 100vw;
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.01);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(15px);
        font-size: 16px;
        font-weight: 400;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: auto;

          .blink-wrapper{

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: absolute;
            width: 64px;
            height: 64px;
            top: 0;
            
            i {
              align-items: center;
              justify-content: center;
              overflow: hidden;
              position: absolute;
            }
              
            .blink {
              border-radius: 50%;
              width: 64px;
              height: 64px;
              opacity: 0.25;
              margin: 12px;
              background-color: rgba(255, 255, 255, 0.5);
              align-items: center;
              justify-content: center;
              overflow: hidden;
              position: absolute;
              animation: blink 1.5s infinite;
              -webkit-animation: blink 1.5s infinite;
              -moz-animation: blink 1.5s infinite;
              -o-animation: blink 1.5s infinite;
              animation: blink 1.5s infinite;
            }
            .blink:after{
              border-radius: 50%;
              content: "";
              position: absolute;
              top: 1px;
              left: 1px;
              right: 1px;
              bottom: 1px;
              border: 5px solid rgb(255, 255, 255, 0.4);
            }

          }

      }

      .call-actions {

        position: inherit;
        top: -33vw;

        .fab-buttons a{
          width: var(--f7-fab-size);
          height: var(--f7-fab-size);
          border-radius: calc(var(--f7-fab-size) / 2);
        }

        .fab-buttons-center a:nth-child(1) {
          left: 50%;
          margin-left: calc(-1 * var(--f7-fab-size) / 2);
          bottom: 100%;
          margin-bottom: 32px;
          transform: translateY(-32px) scale(0.3);
          transform-origin: center bottom;
          transition-delay: 1ms;
        }

        .fab-buttons-center a:nth-child(2) {
          left: 100%;
          margin-top: calc(-1 * var(--f7-fab-size) / 2);
          top: 50%;
          margin-left: 32px;
          transform: translateX(-32px) scale(0.3);
          transform-origin: left center;
          transition-delay: 50ms;
        }

        .fab-buttons-center a:nth-child(3) {
          left: 50%;
          margin-left: calc(-1 * var(--f7-fab-size) / 2);
          top: 100%;
          margin-top: 32px;
          transform: translateY(32px) scale(0.3);
          transform-origin: center top;
          transition-delay: 100ms;
        }

        .fab-buttons-center a:nth-child(4) {
          right: 100%;
          margin-top: calc(-1 * var(--f7-fab-size) / 2);
          top: 50%;
          margin-right: 32px;
          transform: translateX(32px) scale(0.3);
          transform-origin: right center;
          transition-delay: 150ms;
        }

      }

      .call-controls {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.075);
        backdrop-filter: blur(5px);
        padding: 16px 0;
        border-radius: 500px;
        
        a.im-solid-rounded{
          border-radius: 50% !important;
          width: 48px;
          height: 48px;

          &.disabled {
            opacity: 0.25 !important;
          }

        }

      }


    }

  }

}


.im-contact-info-sheet-modal {
  height: calc(100vw + calc(var(--f7-block-margin-vertical) * 2) + 100px + calc(var(--f7-navbar-height) + var(--f7-safe-area-top)));
  display: block;
  background-size: 140vw;
  background-position-y: -150vw;
  background-position-x: center;

  .page-content {
    padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center center;
    background-size: contain;
    backdrop-filter: blur(25px);
  }

  .button {
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: 36px;
    padding-top: 16px;
    flex-direction: column;
    background-color: #ffffff !important;
    font-size: calc(var(--f7-button-font-size) * 0.85)
  }

  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }

}

.nime {
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #81bc8f;
  right: -20px;
  bottom: 7px;
}

.nime:after, .nime:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: -8px;
  left: -8px;
  background: #05d436;
}

.nime:before {
  -webkit-animation: nime 2s ease-out infinite;
  animation: nime 2s .4s ease-out infinite;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: nime;
}

.nime:after {
  z-index: 1;
  -webkit-animation: nime 2s .4s ease-out infinite;
  animation: nime 2s .4s ease-out infinite;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: nime;
}