.md {
  --f7-message-bubble-border-radius: 10px !important;
  --f7-message-received-bg-color: #ffffff !important;
  --f7-messages-content-bg-color: #ebedf7 !important;
}

.dark.md {

  --f7-message-received-bg-color: #2A2A2A !important;
  --f7-message-received-text-color: #d3d3d3;
  --f7-messages-content-bg-color: #2e2e2e !important;
  --f7-message-sent-bg-color: #000000 !important;
  --f7-message-sent-text-color: #cccccc !important;

  .toolbar.messagebar {
    border-color: #424242;
    background-color: #000000;
    box-shadow: 2px 2px 24px rgb(0 0 0 / 0%);
  }

  .messages {
    background-color: rgb(22 22 22 / 85%);
    background-image: url(/assets/img/im-bg-720.png);
    background-blend-mode: color;
  }

}

.messages {
  padding: 0 10px 0 5px;
  background-color: rgb(235 237 247 / 93%);
  background-image: url(/assets/img/im-bg-720.png);
  background-size: contain;
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

.message-time-ago {
  font-size: 80%;
  opacity: 0.7;
  margin-top: 5px;
}

.im-attachment-title {
  font-size: 13px;
}

.im-attachment-title {
  font-size: 14px;
}

.im-attachment-description-details-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px -5px -5px -5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 12px;
  padding: 3px 7px;
}

.im-attachment-description-details-text {
  font-size: 12px;
}

.im-attachment-description-wrapper {
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 5px;
  text-align: left !important;
  margin: 5px auto;
}

div.messages-title.message-appeared div {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  padding: 9px;
  border: none;
  border-radius: 6px;
  background-color: var(--f7-message-received-bg-color);
  color: var(--f7-message-received-text-color);
  width: fit-content;
  margin: auto;
  font-weight: bold;
}

.message-time-ago i {
  opacity: 1;
  margin-top: -4px;
  vertical-align: top;
  margin-left: 6px;
  color: #03a9f4;
  text-align: right;
  font-size: 20px;
}

.actions-modal.modal-in {
  border-radius: 24px;
  margin: 10px auto;
  width: calc(100vw - 20px);
  left: 10px;
  right: 10px;
}

.toolbar.messagebar {
  border: 2px solid #f3f3f3;
  border-radius: 28px;
  margin: 3px auto;
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
  box-shadow: 2px 2px 24px rgb(0 0 0 / 30%);
}

.toolbar.messagebar {
  border: 2px solid #f3f3f300;
  border-radius: 28px;
  margin: 3px auto 16px 3px;
  width: calc(100vw - (var(--f7-fab-size) + (var(--f7-fab-margin) * 2)));
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
}

.messagebar~* {
  --f7-page-toolbar-bottom-offset: calc(var(--f7-messagebar-height) + 32px);
}

.messagebar textarea {
  border: none;
}

div.m-b-0.fab {
  margin-bottom: 0 !important;
}

div.m-b-0.fab>a {
  background-color: var(--f7-theme-color) !important;
}

.messagebar:before {
  height: 0;
}

.message-bubble {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: var(--f7-message-received-text-color);
  background: var(--f7-message-received-bg-color);
}

.im-voice-call-sheet-modal {

  width: 100vw;
  height: 100vh;

  background-image: url(https://c4.wallpaperflare.com/wallpaper/65/236/842/space-vertical-portrait-display-iss-wallpaper-preview.jpg);
  background-image: url(https://www.fonewalls.com/wp-content/uploads/2019/12/Full-Moon-Night-Background-Wallpaper-720x1600-1.jpg);
  background-image: url(https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg);
  background-size: cover;
  background-position: center center;

  .sheet-modal-inner{
    margin: 0 16px;

    .backdrop {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0px;
      position: fixed;
      background-color: rgb(0, 0, 0, 0.33);

      &.blurry {
        backdrop-filter: blur(50px);
      }

    }

    .im-call-controls-wrapper {

      width: calc(100vw - 64px);
      bottom: 32px;
      right: 32px;
      left: 32px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-end;
      justify-content: space-between;
      align-items: flex-end;
      position: fixed;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 32px;
      z-index: 2;

      .im-call-button {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        .fab {
          position: relative;
          right: unset;
          left: unset;
          top: unset;
          bottom: unset;
        }

        span {
          margin: 16px 0 0 0;
        }

      }

    }

    .videos{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0px;
        position: fixed;
        background-size: cover;
        background-position: center;

        .remote{

          position: absolute;
        
          &.not-connected{
            width: 1px;
            height: 1px;
            background-color: rgb(255,0,0, 0);
          }

          &.connected{
            width: 100vw;
            height: 100vh;
            background-color: rgb(0,255,0, 0);
          }

        }

        .local{
          
          position: absolute;
        
          &.not-connected{
            width: 100vw;
            height: 100vh;
            background-color: rgb(255,0,255, 0);            
            border-radius: 0;
          }

          &.connected{
            width: 28vw;
            height: 50vw;
            background-color: rgb(255,255,0, 0);
            border-radius: 16px;
            top: 16px;
            left: 16px;
          }

        }

    }

    .page-content {
      position: relative;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow:hidden;

      .call-remote-user {

        margin-top: calc(calc(100vw - 33vw) / 2);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;

        img {
          border: 5px solid rgba(255,255,255,0.75);
          border-radius: 50%;
          width: 33vw;
          height: 33vw;
        }

        .block-title {
          margin: auto;
          font-weight: 400;
        }

        .block-title.block-title-large {
          margin: 16px auto;
          font-weight: 200;
        }

        .block-title.block-title-medium {
          margin-top: 16px;
          font-weight: 200;
        }

      }

      .call-actions {

        position: sticky;

        .fab-buttons a{
          width: var(--f7-fab-size);
          height: var(--f7-fab-size);
          border-radius: calc(var(--f7-fab-size) / 2);
        }

        .fab-buttons-center a:nth-child(1) {
          left: 50%;
          margin-left: calc(-1 * var(--f7-fab-size) / 2);
          bottom: 100%;
          margin-bottom: 32px;
          transform: translateY(-32px) scale(0.3);
          transform-origin: center bottom;
          transition-delay: 1ms;
        }

        .fab-buttons-center a:nth-child(2) {
          left: 100%;
          margin-top: calc(-1 * var(--f7-fab-size) / 2);
          top: 50%;
          margin-left: 32px;
          transform: translateX(-32px) scale(0.3);
          transform-origin: left center;
          transition-delay: 50ms;
        }

        .fab-buttons-center a:nth-child(3) {
          left: 50%;
          margin-left: calc(-1 * var(--f7-fab-size) / 2);
          top: 100%;
          margin-top: 32px;
          transform: translateY(32px) scale(0.3);
          transform-origin: center top;
          transition-delay: 100ms;
        }

        .fab-buttons-center a:nth-child(4) {
          right: 100%;
          margin-top: calc(-1 * var(--f7-fab-size) / 2);
          top: 50%;
          margin-right: 32px;
          transform: translateX(32px) scale(0.3);
          transform-origin: right center;
          transition-delay: 150ms;
        }

      }

      .call-controls {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.125);
        backdrop-filter: blur(16px);
        padding: 16px 0;
        border-radius: 50px;
      }

      a.im-solid-rounded{
        border-radius: 50% !important;
        width: 48px;
        height: 48px;
      }


    }

  }

}


.im-contact-info-sheet-modal {
  height: calc(100vw + calc(var(--f7-block-margin-vertical) * 2) + 100px + calc(var(--f7-navbar-height) + var(--f7-safe-area-top)));
  display: block;
  background-size: 140vw;
  background-position-y: -150vw;
  background-position-x: center;

  .page-content {
    padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center center;
    background-size: contain;
    backdrop-filter: blur(25px);
  }

  .button {
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: 36px;
    padding-top: 16px;
    flex-direction: column;
    background-color: #ffffff !important;
    font-size: calc(var(--f7-button-font-size) * 0.85)
  }

  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }

}