.md.device-android {
    --f7-safe-area-top: 36px
}

li.list-group-title.media-item, .md .contacts-list .list-group-title {
    pointer-events: none;
    overflow: visible;
    width: 100% !important;
    background-color: #f1e5ff;
    padding: 0 24px;
    height: calc(var(--f7-list-group-title-height) * 0.7) !important;
}

.md .contacts-list li:not(.list-group-title) {
    padding-left: 0 !important;
}

.md .contacts-list .list-group-title + li {
    margin-top: 0 !important;
}