/* Custom color theme */
:root {
    --f7-theme-color: #212121 !important;
    --f7-theme-color-rgb: 33, 33, 33 !important;
    --f7-theme-color-shade: #0d0d0d !important;
    --f7-theme-color-tint: #353535 !important;
}