
.item-after .badge {
    background: var(--f7-theme-color);
    height: calc(var(--f7-badge-size) * 1.3);
    min-width: calc(var(--f7-badge-size) * 1.3);
  }
  
  .andon-status-navbar {
    border-radius: 50%;
    border: 2px solid white;
    background: #0abf0a;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 2px;
    right: 12px;
  }
  
  .andon-status {
    border-radius: 50%;
    border: 2px solid white;
    background: #0abf0a;
    width: 8px;
    height: 8px;
    position: relative;
    top: -30px;
    left: -30px;
  }
  
  .andon-status.warning {
    background: #ffb500;
  }
  
  .andon-status.error {
    background: #ff0000;
  }

.tab-im-calls .badge {
    color: var(--f7-bars-bg-color);
    background-color: var(--f7-bars-text-color);
    margin-left: 5px;
    font-size: var(--f7-badge-font-size);
    line-height: var(--f7-badge-font-size);
}
  