.login-screen-logo {
    max-width: 300px;
    width:70%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login-screen-content{
    margin-top: 70px !important;
  }
  
  
.block.passcode-input {
    position: relative;
    z-index: 5;
  }
  
  .block.passcode-numpad {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    max-width: none;
    z-index: 10;
  }
  
  #demo-numpad-inline, input.demo-numpad-inline-2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    padding: 0 0 0 5px;
    margin: auto;
    width: 100%;
    height: 64px;
    color: #000;
    font-family: inherit;
    letter-spacing: 5px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
  }
  
  .pin-keypad-screen-title {
     max-width: var(--f7-login-screen-blocks-max-width);
     margin: var(--f7-login-screen-blocks-margin-vertical) auto;
     margin-top: calc(var(--f7-login-screen-blocks-margin-vertical) * 5);
     text-align: var(--f7-login-screen-title-text-align);
     font-size: var(--f7-login-screen-title-font-size);
     font-weight: var(--f7-login-screen-title-font-weight);
     color: var(--f7-login-screen-title-text-color);
     letter-spacing: var(--f7-login-screen-title-letter-spacing);
   }
  
  li.username-input {
  
    input{
      height: 60px !important;
    }
  
    .input-clear-button:after {
      font-size: 24px !important;
      right: 16px !important;
      top: 4px !important;
      position: absolute;
    }
  
  }
  
  .pin-input{
    height: 60px;
  }
  
  .pin-input{
    height: 100%;
  }
  
  .pin-input{
  
    .pin-bullet{
      height: 100%;
    }
  
  }
  
  .pin-input {
    margin: auto;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: 0;
    padding: 0;
    font-family: inherit;
    resize: none;
    color: var(--f7-input-text-color);
    font-size: var(--f7-input-font-size);
    padding-left: var(--f7-input-padding-left);
    padding-right: var(--f7-input-padding-right);
    border-radius: var(--f7-input-outline-border-radius);
    border: 1px solid #ccc;
    list-style: none;
  
  }
  
  .pin-wrapper{
    margin: 8px 16px 40px 16px;
  }
  
  .login-button {
    height: 60px;
    margin: auto 16px;
    background-color: #e0231a;
    font-size: 18px;
  }
  
  .input-outline:after, .item-input-outline .item-input-wrap:after, .pin-input {
    border: 2px solid var(--f7-input-outline-border-color);
  }
  
  .red-text{
    color: #e0231a;
  }
  
  .link.icon-only.popup-close {
    position: absolute;
    right: 25px;
    top: 20px;
  }
  
  .link.icon-only.popup-close > i {
    font-size: 36px;
  }
  
  .keypad-inline {
    height: 50vh;
    max-height: 420px;
    width: 100%;
  }
  
  #numpad-mini-sheet-modal{
    height: calc(37vh + 3px);
    box-shadow: 2px 2px 24px rgb(0 0 0 / 30%);
  }
  
  #numpad-mini {
    z-index: 5500;
    position: absolute;
    border: 0;
    bottom: 0;
    display: block;
    width: 100%;
  }
  
  #numpad-mini .keypad-inline {
    height: 37vh;
    max-height: 420px;
    width: 100%;
  }

  .dark{

    /* Custom color theme properties */
    html {
      --f7-theme-color: #00e2ff;
      --f7-theme-color-rgb: rgb(0, 226, 255);
      --f7-theme-color-shade: #00d5d5;
      --f7-theme-color-tint: #73f1ff;
    }
  
  
    .navbar-bg {
      background: #1c1c1d !important;
    }
  
    .icon-keypad-delete{
      color: #ffffff !important;
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  
    .keypad-button {
      background: #191919;
      color: #d7d7d7;
    }
  
    .keypad-button:active, .keypad-button:focus,  {
      background: #333333;
      color: #d7d7d7;
    }
  
    .keypad-button:before, .keypad-button:after {
      background-color: #777777;
    }
  
    #demo-numpad-inline {
      color: #ffffff;
    }
  
    .input-outline:after, .item-input-outline .item-input-wrap:after {
      border-color: #e0231a;
    }
  
  }  