{Object.keys(contacts).map((key:any, index:number)=>(
  <ListGroup key={`sheet-modal-open-calls-popup-list-group-${index}`}>
      <ListItem 
          key={`sheet-modal-open-calls-popup-list-item-group-${index}`}
          title={`${key.toUpperCase()}`} groupTitle />
      {contacts[key].map((contact:any, contactIndex:number)=>(
      <ListItem
               
              key={`sheet-modal-open-calls-popup-list-item-${contactIndex}`}
              title={contact.name} 
              subtitle={contact.mobile}
              noChevron={true}
              className={`f-w-600`}
              >
                  
              <div slot="media" className="f7-demo-icon">
                  <i className="f7-icons avatar-icon">person_alt_circle_fill</i>
              </div>

              <Link 
                  
              onClick={()=>onContactSelected(contact, 'video')}
              href="#" slot="after" className="f7-demo-icon">
                  <i className="icon f7-icons color-custom">videocam_fill</i>
              </Link>
              <Link 
              
              onClick={()=>onContactSelected(contact, 'call')}
              href="#" slot="after" className="f7-demo-icon" style={{marginLeft: "32px", marginRight: "24px"}}>
                  <i className="icon f7-icons color-custom">phone_fill</i>
              </Link>


          </ListItem>
      ))}
  </ListGroup>
  ))}

  <InfiniteScroll className="hx"
            pageStart={0}
            loadMore={loadMore}
            hasMore={hasMore}
            loader={<h4 className="loader">Loading...</h4>}
            useWindow={false}
            >
            {showItems(data)}
          </InfiniteScroll>