:root,
:root.theme-dark,
:root .theme-dark {
    --f7-bars-bg-color: var(--f7-theme-color) !important;
    --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb) !important;
    --f7-bars-translucent-opacity: 0.9 !important;
    --f7-bars-text-color: #fff !important;
    --f7-bars-link-color: #fff !important;
    --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85) !important;
    --f7-bars-border-color: transparent !important;
    --f7-tabbar-link-active-color: #fff !important;
    --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54) !important;
    --f7-sheet-border-color: transparent !important;
    --f7-tabbar-link-active-border-color: #fff !important;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
    --f7-touch-ripple-color: var(--f7-touch-ripple-white) !important;
    --f7-link-highlight-color: var(--f7-link-highlight-white) !important;
    --f7-link-touch-ripple-color: var(--f7-touch-ripple-white) !important;
    --f7-button-text-color: #fff !important;
    --f7-button-pressed-bg-color: rgba(255,255,255,0.1) !important;
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
    --f7-navbar-large-title-text-color: #000 !important;

    --r: 33 !important;
    --g: 33 !important;
    --b: 33 !important;
    --progress: var(--f7-navbar-large-collapse-progress) !important;
    --f7-bars-link-color: rgb(
            calc(var(--r) + (255 - var(--r)) * var(--progress)),
            calc(var(--g) + (255 - var(--g)) * var(--progress)),
            calc(var(--b) + (255 - var(--b)) * var(--progress))
    ) !important;
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
    --f7-navbar-large-title-text-color: #fff !important;
}


.centerbutton {
    box-shadow: 0 0.5rem 1rem var(--f7-theme-color-shade) !important;
    -moz-box-shadow: 0 .5rem 1rem var(--f7-theme-color-shade) !important;
    -ms-box-shadow: 0 .5rem 1rem var(--f7-theme-color-shade) !important;
}
