//Load Animations, Mixins, Variables & Functions

@import "./variables/colors";
@import "./functions/mixin";
@import "./functions/adhoc";
@import "./common/styles";
@import "./common/colors";
@import "./animations/shake";
@import "./fonts/font-weight.scss";

// Load App Layout
@import "./views/app-layout";
@import "./ui/badges";
@import "./ui/nav.scss";
@import "./ui/bars.scss";
@import "./ui/icons.scss";
@import "./ui/layout.scss";

// Load Component Styles - override defaults
@import "./ui/list-views.scss";

// Load Module Styles
@import "../../src/modules/auth/styles/auth";
@import "../../src/modules/ecommerce/styles/ecommerce";
@import "../../src/modules/im/styles/im";
@import "../../src/modules/wallet/styles/wallet";
@import "../../src/modules/settings/styles/settings";

.links-list a {
    height: auto;
}

.preloader{
        margin: auto;
        width: 20px;
        display: block;
        height: auto;
        color: var(--f7-theme-color);
}

.page.im-tab .page-content{
    padding-top: 0;
}